<h1>Dumpster Diving</h1>
<div class= "dumpster-diving">
    <div class="center">
      <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %>
    </div>
    <div>
        <img src= "http://www.firstpresclarksville.org/wp-content/uploads/2018/02/Dumpster-Diving-And-Judgments.jpg" >  
    </div>
<p>If you are interested in being a part of the solution to food waste then this is the place for you. </p>